@model List<TodoModel>
@{
    ViewData["Title"] = "Home Page";
}


<section>
    <h1>To Do List</h1>
    <form asp-controller="Home" asp-action="Index" method="post">
        <input type="text" name="NewItem" placeholder="Add to do here">
        <button type="submit">Add To Do</button>
    </form>
</section>
<section>
    <h2>Incomplete</h2>
    
    @foreach(var item in Model)
    {
        <form asp-controller="Home" asp-action="IsComplete" method="post">
            <p>
                @item.TaskName @item.Time <button type="submit">Complete</button>
            </p>
            <input type="hidden" value="@item.ID" name="ID">
        </form>
    }
    
</section>
<section>
    <h2>Complete</h2>
    @foreach(var item in Model)
    {
        @if(item.IsComplete == true)
        {
            <li>@item.TaskName</li>
        }
    }
</section>